@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

body,
html {
  background-color: #e5e5e5;
  height: auto;
  margin: 0;
  padding: 0%;
}

.landing-container {
  height: 100vh;
  background: #fff;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 45px;
  border: 5px solid red;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px dotted yellow; 
  /* padding: 0 10px; */
  height: 50px;
}

.logo {
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  color: #6070ff;
  margin: 0px;
}

/* Hamburger */

.hamburgerContainer {
  width: 80%;
  height: 50px;
  border: 1px solid grey;
  align-self: center;
}

.toggle {
  height: 45px;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-items: center;
  z-index: 120;
}

.bar {
  background-color: rgb(61, 61, 61);
  position: relative;
  width: 40px;
  height: 5px;
  margin-top: 7px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#hamburger {
  display: none;
  border: 2px solid black;
}

#hamburger:checked + .toggle .bar1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: 22.5px;
}

#hamburger:checked + .toggle .bar2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-top: -5px;
}

#hamburger:checked + .toggle .bar3 {
  -webkit-transform: scale(0);
          transform: scale(0);
}

#hamburger:checked ~ .menu {
  height: 100vh;
  position: fixed;
  width: 100%;
  background-color: #6070ff;
}


/* Menu */
.menu {
  width: 100%;
  gap: 8px;
  background-color:  #6070ff;
  mix-blend-mode: multiply;
  /* margin: -65px 0; */
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  clear: both;
  width: auto;
  text-align: start;
  height: 0px;
  overflow: hidden;
  transition: height .4s ease;
  z-index: 120;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

.link1 {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0 10px;
}

/* .link1:hover {
  background-color: #fff;
  color: #808080;
} */

.headline {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 390.15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 6px;
  border: 2px solid green;
}

.text1 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.text2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.text3 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 114px 0;
  gap: 88px;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  height: 640px;
  padding: 4.3%;
  border: 1px solid #dfe1e6;
  background: #fff;
  border-radius: 16px;
}

.card-works2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  height: 640px;
  padding: 4.3%;
  border: 1px solid #dfe1e6;
  background: #fff;
  border-radius: 16px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px;
  padding: 16px;
  width: 82%;
  height: 288px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
}

.title {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  color: #172b4d;
}

.frame2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.client {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter {
  color: #c1c7d0;
}

.role {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.primary {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  width: 57%;
  gap: 8px;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.skills {
  background: #ebebff;
  padding: 4px 6px;
  border-radius: 8px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.action {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 24px 0;
  gap: 10px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
}

#desktop-cards {
  display: none;
}

#about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 12px;
  border: 1px solid #fff;
  border-top-right-radius: 45px;
  background: #fff;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.top-heading {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  color: #172b4d;
}

.top-para {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #344563;
}

.social {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons2 {
  display: flex;
  justify-content: space-between;
}

.resume {
  border: 1px solid #6070ff;
  border-radius: 8px;
  padding: 12px;
  margin: 15px 0;
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87%;
}

.frame4 {
  display: flex;
  flex-direction: row;
  width: 87%;
  justify-content: space-between;
  align-items: first baseline;
}

.list2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.fa-chevron-down {
  color: #acb7c3;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.frame5 {
  display: flex;
  width: 81%;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
}

.fa-js-square {
  height: 48px;
  color: #ff0;
}

.lang1 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.frame6 {
  display: flex;
  width: 81%;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
}

.fa-html5 {
  color: #ff5349;
}

.lang2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.frame7 {
  display: flex;
  width: 81%;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
}

.fa-css3-alt {
  color: #0087ce;
}

.lang3 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.frame8 {
  display: flex;
  width: 87%;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #dfe1e6;
}

.fa-chevron-right {
  color: #acb7c3;
}

.frame9 {
  display: flex;
  width: 87%;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #dfe1e6;
}

#contact {
  background-image: url(images/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: right top;
  border-top-left-radius: 45px;
  background-color: #6070ff;
  gap: 12px;
}

.heading {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding-top: 84px;
  margin-top: 0;
}

.p1 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.fill {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 87%;
}

#input1 {
  width: 87%;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px 20px 10px 20px;
  justify-items: center;
}

#input2 {
  width: 87%;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 20px;
  justify-items: center;
}

::placeholder {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #b3bac5;
}

#message {
  width: 87%;
  height: 170px;
  margin: 20px;
  border-radius: 6px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

#button {
  width: 37%;
  height: 48px;
  margin-left: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
  padding: 12px 16px;
  background-color: #fff;
  text-align: center;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
}

.image {
  margin: 33px 120px 5px 120px;
}

@media only screen and (min-width: 376px) and (max-width: 1440px) {
  .nav-header {
    border: 3px dotted blue; 
  }

  .toggle {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    height: 50px;
    background-color: #fff;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    

  }

  .link1 {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #344563;
    margin: 0px;
  }

  .headline {
    background-image: url(images/Header\ bg@2x.png);
    width: 95%;
    height: 565.15px;
    align-items: center;
    margin-left: 2%;
  }

  .t1 {
    width: 64%;
    padding-top: 70px;
  }

  .text1 {
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .text2 {
    font-size: 20px;
    line-height: 28px;
  }

  .icons {
    width: 64%;
    justify-content: flex-start;
    gap: 5%;
  }

  #works {
    display: none;
  }

  #desktop-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 114px 0;
    gap: 88px;
  }

  .card-works {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 496px;
    gap: 50px;
  }

  .snapshot {
    width: 70%;
  }

  .left-block {
    height: 445px;
  }

  .title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .client {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .role, .year {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .primary {
    font-size: 16px;
  }

  .card-works2 {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 496px;
  }

  .button3 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: baseline;
  }

  .action1 {
    background-color: #4053fc;
    color: #fff;
    border: 1px solid #6070ff;
    border-radius: 8px;
    padding: 12px;
    margin: 24px 0;
    gap: 10px;
    font-family: 'poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
  }

  .fa-hand-pointer {
    width: 10%;
  }

  #about-myself {
    display: flex;
    flex-direction: row;
    width: 96%;
    padding: 114px 0 114px 55px;
    gap: 25px;
  }

  .top {
    padding: 10px;
  }

  .top-heading {
    color: #091e42;
  }

  .skill-list {
    width: 48%;
    padding: 10px;
  }

  .frame4 {
    width: 100%;
  }

  .list2 {
    color: #344563;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    width: 60%;
  }

  .frame5, .frame6, .frame7 {
    width: 29.5%;
    height: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  .frame8, .frame9 {
    width: 100%;
  }
}