@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

body,
html {
  background-color: #e5e5e5;
  height: auto;
  margin: 0;
  padding: 0;

  /* box-sizing: border-box; */
}

.landing-container {
  height: 100vh;
  background: #fff;
  margin: 0;
  padding: 0;
  border-bottom-left-radius: 45px;
}

header {
  display: flex;
}

.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border: 1px solid green;
}

.logo {
  display: flex;
  font-family: 'poppins', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-self: center;
  width: 25%;
  color: #6070ff;
  margin: 0;
  border: 1px dotted blue;
}

.hamburger {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.bar {
  display: flex;
  width: 25px;
  margin: 2px;
  border: 0.5px solid #607fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  margin: 4px;
  border: 1px solid #fff;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  margin: 5px;
  border: 1px solid #fff;
}

.navMenu {
  position: fixed;
  left: -120%;
  top: -18px;
  width: 100%;
  text-align: start;
  padding-top: 50px;
  transition: 0.3s;
  mix-blend-mode: multiply;
  background-color: #6070ff;
  backdrop-filter: blur(8px);
  z-index: 2;
  height: 100vh;
  border: 3px dashed yellow;
}

li {
  list-style: none;
}

.navItem {
  margin: 16px 0;
}

a {
  text-decoration: none;
}

.navMenu.active {
  left: 0;
}

.navLink {
  font-family: 'poppins', sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  text-align: center;
}

.headline {
  background-image: url(./images/header-shapes-mobile.png);
  background-repeat: no-repeat;
  position: absolute;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 6px;
}

.text1 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.text2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.text3 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 114px 0;
  gap: 88px;
}

.card-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  height: 640px;
  padding: 4.3%;
  border: 1px solid #dfe1e6;
  background: #fff;
  border-radius: 16px;
}

.card-works2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 87%;
  height: 640px;
  padding: 4.3%;
  border: 1px solid #dfe1e6;
  background: #fff;
  border-radius: 16px;
}

.left-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 24px;
  padding: 16px;
  width: 82%;
  height: 288px;
}

.primary-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 12px;
}

.title {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
  color: #172b4d;
}

.frame2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

.client {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.counter {
  color: #c1c7d0;
}

.role {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.primary {
  font-family: 'poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  width: 57%;
  gap: 8px;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.skills {
  background: #ebebff;
  padding: 4px 6px;
  border-radius: 8px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
}

.action {
  border: 1px solid #7f8cff;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px;
  margin: 24px 0;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #6070ff;
}

.action:hover {
  background-color: #6070ff;
  color: #fff;
  box-shadow: 0 8px 16px 0 #4053fc;
}

.action:active {
  background-color: #2230d2;
  color: #fff;
}

#desktop-cards {
  display: none;
}

#about-myself {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 12px;
  border: 1px solid #fff;
  border-top-right-radius: 45px;
  background: #fff;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  gap: 12px;
}

.top-heading {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin: 0;
  color: #172b4d;
}

.top-para {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: #344563;
}

.social {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons2 {
  display: flex;
  justify-content: space-between;
}

.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 87%;
}

.frame4 {
  display: flex;
  flex-direction: row;
  width: 87%;
  justify-content: space-between;
  align-items: first baseline;
}

.list2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.fa-chevron-down {
  color: #acb7c3;
}

.lang-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  gap: 12px;
}

.frame5 {
  display: flex;
  width: 81%;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
}

.fa-js-square {
  height: 48px;
  color: #ff0;
}

.lang1 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.frame6 {
  display: flex;
  width: 81%;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
}

.fa-html5 {
  color: #ff5349;
}

.lang2 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.frame7 {
  display: flex;
  width: 81%;
  padding: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  align-items: baseline;
}

.fa-css3-alt {
  color: #0087ce;
}

.lang3 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 16px;
}

.frame8 {
  display: flex;
  width: 87%;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #dfe1e6;
}

.fa-chevron-right {
  color: #acb7c3;
}

.txt1,
.txt2 {
  font-family: 'poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.frame9 {
  display: flex;
  width: 87%;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 2px solid #dfe1e6;
}

#contact-page {
  background-color: #fff;
}

.contact {
  background-image: url(images/contact\ form\ shapes-mobile.png);
  background-repeat: no-repeat;
  background-position: right top;
  border-top-left-radius: 45px;
  background-color: #6070ff;
  gap: 12px;
}

.heading {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
  padding-top: 84px;
  margin-top: 0;
}

.p1 {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
}

.fill {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 87%;
}

#input1 {
  width: 87%;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 20px 20px 10px 20px;
  justify-items: center;
}

#input2 {
  width: 87%;
  height: 48px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin: 10px 20px;
  justify-items: center;
}

::placeholder {
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 16px;
  color: #b3bac5;
}

#message {
  width: 87%;
  height: 170px;
  margin: 20px;
  border-radius: 6px;
  font-family: 'poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.act2 {
  width: 40%;
  align-self: center;
}

.image {
  margin: 33px 120px 5px 120px;
}

@media only screen and (min-width: 376px) and (max-width: 1440px) {
  .landing-container {
    border: none;
  }

  .navbar {
    height: 50px;
  }

  .logo {
    display: flex;
    justify-content: center;
  }

  .navMenu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 75%;
    left: 0;
    top: 0;
    align-items: center;
    gap: 20px;
  }

  li {
    list-style: none;
  }

  a {
    color: #344563;
    text-decoration: none;
  }

  .navLink {
    transition: 0.7s ease;
  }

  .navLink:hover {
    color: #6070ff;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .headline {
    background-image: url(images/Header\ bg@2x.png);
    background-size: cover;
    width: 94%;
    height: auto;
    align-items: center;
    margin-left: 2%;
    border: none;
    padding: 0 24px;
  }

  .t1 {
    width: 64%;
    padding-top: 70px;
  }

  .text1 {
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
  }

  .text2 {
    font-size: 20px;
    line-height: 28px;
  }

  .icons {
    width: 64%;
    justify-content: flex-start;
    gap: 5%;
  }

  #works {
    display: none;
  }

  #desktop-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 114px 0;
    gap: 88px;
    cursor: pointer;
  }

  .card-works {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    padding: 2%;
    gap: 2%;
    margin: 0%;
  }

  .snapshot {
    width: 47%;
    transition: transform 2s;

    /* border: 2px dotted pink; */
  }

  .snapshot:hover {
    transform: scaleY(1.1);
  }

  .left-block {
    width: 47%;
    height: auto;
    margin: 0;
    padding: 0;

    /* border: 2px dotted pink; */
  }

  .title {
    font-size: 40px;
    line-height: 52px;
    color: #091e42;
  }

  .client {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .role,
  .year {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #6b778c;
  }

  .primary {
    font-size: 16px;
  }

  .tags {
    width: 70%;
  }

  .skills {
    transition: transform 2s;
  }

  .skills:hover {
    transform: scale(1.2);
  }

  .card-work2 {
    display: flex;
    flex-direction: row-reverse;
  }

  #about-myself {
    display: flex;
    flex-direction: row;
    width: 96%;
    padding: 114px 0 114px 55px;
    gap: 25px;
  }

  .top {
    padding: 10px;
  }

  .top-heading {
    color: #091e42;
  }

  .skill-list {
    width: 48%;
    padding: 10px;
  }

  .frame4 {
    width: 100%;
  }

  .list2 {
    color: #344563;
  }

  .lang-list {
    display: flex;
    flex-direction: row;
    width: 60%;
  }

  .frame5,
  .frame6,
  .frame7 {
    width: 29.5%;
    height: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 15px;
  }

  .frame8,
  .frame9 {
    width: 100%;
  }

  .contact {
    background-image: url(./images/contact\ form\ background\ shapes@2x.png);
    background-position: left top;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
  }

  .fill {
    width: 31%;
  }

  #button {
    margin-bottom: 20px;
  }

  .image {
    display: none;
  }
}
